!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
height_list = [185, 162, 171, 155, 191, 166]
height_series = pd.Series(height_list)
print(height_series)

0    185
1    162
2    171
3    155
4    191
5    166
dtype: int64

In [4]:
weight_arr = np.array([72, 51, 69, 55, 87, 78])
weight_series = pd.Series(weight_arr)
print(weight_series)

0    72
1    51
2    69
3    55
4    87
5    78
dtype: int64

In [5]:
ser = pd.Series([1, 2, 3], name='some series')
print(ser)

0    1
1    2
2    3
Name: some series, dtype: int64

In [6]:
val = [1, 2, 3, 4, 5]
labels = ['a', 'a', 'c', 'd', 'f']
ser = pd.Series(val, index=labels)
print(ser)

a    1
a    2
c    3
d    4
f    5
dtype: int64

In [7]:
print(ser.index)

Index(['a', 'a', 'c', 'd', 'f'], dtype='object')

In [8]:
dic = {'T':185, 'H':162, 'B':171, 'R':155, 'M':191, 'S':166}
ser = pd.Series(dic)
print(ser)

B    171
H    162
M    191
R    155
S    166
T    185
dtype: int64

In [9]:
dic = {'a':0, 'b':1, 'c':2}
a = pd.Series(dic, index = ['a', 'b', 'c', 'd', 'e'])
print(a)

a    0.0
b    1.0
c    2.0
d    NaN
e    NaN
dtype: float64

In [10]:
pd.Series(10, index=['A', 'B', 'C'])

A    10
B    10
C    10
dtype: int64

In [11]:
val = [1, 2, 3, 4, 5]
ser = pd.Series(val, index=list('あいうえお'))
ser

あ    1
い    2
う    3
え    4
お    5
dtype: int64

In [12]:
ser['あ':'え']

あ    1
い    2
う    3
え    4
dtype: int64

In [13]:
print(ser['あ'])
print(ser.iloc[0])

1
1

In [14]:
ser[ser > 3]

え    4
お    5
dtype: int64

In [46]:
ser + 2

あ    1
い    2
う    3
え    4
お    5
dtype: int64

In [49]:
mylist = [1, 2, 3, 4, 5]
mylist + [2]

[1, 2, 3, 4, 5, 2]

In [50]:
for i in range(5):
    mylist[i] += 2
    
print(mylist)

[3, 4, 5, 6, 7]

In [51]:
ser * 2

あ     2
い     4
う     6
え     8
お    10
dtype: int64

In [52]:
ser / 2

あ    0.5
い    1.0
う    1.5
え    2.0
お    2.5
dtype: float64

In [15]:
ser2 = pd.Series([6, 7, 8, 9, 10], index=list('あいうえお'))
ser3 = ser + ser2
print(ser3)

あ     7
い     9
う    11
え    13
お    15
dtype: int64

In [16]:
val = [1, 2, 3, 4, 5]
a = pd.Series(val)
b = pd.Series(val, index=[0, 1, 2, 3, 4])
c = pd.Series(val, index=list('abcde'))
print(a.index)
print(b.index)
print(c.index)

RangeIndex(start=0, stop=5, step=1)
Int64Index([0, 1, 2, 3, 4], dtype='int64')
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [53]:
a = pd.Series(['a', 'b', 'c'])
b = pd.Series([1, 2, 3])
c = pd.Series([1.0, 2.0, 3.0])
d = pd.Series([True, False, True])
e = pd.Series(['a', 1, True])

print(a.dtype, b.dtype, c.dtype, d.dtype, e.dtype)

object int64 float64 bool object

In [17]:
a = pd.Series([1, 2, 3], index=[1, 2, 3])
a

1    1
2    2
3    3
dtype: int64

In [18]:
b = pd.Series([1, 2, 3], index=list('abc'))
b

a    1
b    2
c    3
dtype: int64

In [19]:
print(a.loc[1])
print(b.loc['a'])

1
1

In [20]:
print(a.iloc[0])
print(b.iloc[0])

1
1

In [21]:
a.iloc[0:1]

1    1
dtype: int64

In [24]:
b.loc['a':'b']

a    1
b    2
dtype: int64

In [25]:
ser = pd.Series([1, 1, 3, 4, 'a'])
print(ser.size)

5

In [26]:
a = pd.Series([1, 2, 3])
b = pd.Series([1, 1, 3])
print(a.is_unique)
print(b.is_unique)

True
False

In [27]:
a = pd.Series([1, 2, 3])
b = pd.Series(['a', 'b', 'c'])
c = pd.Series(['a', 'a', 'b'], dtype='category')

print(type(a.values), a.values)
print(type(b.values), b.values)
print(type(c.values), c.values)

<class 'numpy.ndarray'> [1 2 3]
<class 'numpy.ndarray'> ['a' 'b' 'c']
<class 'pandas.core.categorical.Categorical'> [a, a, b]
Categories (2, object): [a, b]

In [28]:
ser = pd.Series([1, 2, 3, 4, 5], index=list('abcde'))
print(ser)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [29]:
ser['a'] = 6
ser['b':'d'] = 7
print(ser)

a    6
b    7
c    7
d    7
e    5
dtype: int64

In [30]:
ser['あ'] = 4
print(ser)

a    6
b    7
c    7
d    7
e    5
あ    4
dtype: int64

In [31]:
ser2 = pd.Series([5, 6], index=['い', 'う'])
ser.append(ser2)

a    6
b    7
c    7
d    7
e    5
あ    4
い    5
う    6
dtype: int64

In [32]:
ser.append(ser2, ignore_index=True)

0    6
1    7
2    7
3    7
4    5
5    4
6    5
7    6
dtype: int64

In [33]:
ser = pd.Series([1, 2, 3], index=list('abc'))
del ser['a']
ser

b    2
c    3
dtype: int64

In [34]:
ser.drop(index='b', inplace=True)
print(ser)

c    3
dtype: int64

In [36]:
print(type(a.values))

<class 'numpy.ndarray'>

In [37]:
print(a.values)

[1 2 3]

In [38]:
c = pd.Series(['a', 'a', 'b'], dtype='category')
print(c.values)

[a, a, b]
Categories (2, object): [a, b]

In [39]:
val = ['a', 1, 0.5]
df = pd.DataFrame(val)

In [40]:
df

     0
0    a
1    1
2  0.5

In [41]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['c', 'd', 'e'])
print(df)

   c  d  e
a  1  2  3
b  4  5  6