!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
height_list = [185, 162, 171, 155, 191, 166]
height_series = pd.Series(height_list)
print(height_series)

0    185
1    162
2    171
3    155
4    191
5    166
dtype: int64

In [32]:
weight_arr = np.array([72, 51, 69, 55, 87, 78])
weight_series = pd.Series(weight_arr)
print(weight_series)

0    72
1    51
2    69
3    55
4    87
5    78
dtype: int64

In [33]:
ser = pd.Series([1, 2, 3], name='some series')
print(ser)

0    1
1    2
2    3
Name: some series, dtype: int64

In [34]:
val = [1, 2, 3, 4, 5]
labels = ['a', 'a', 'c', 'd', 'f']
ser = pd.Series(val, index=labels)
print(ser)

a    1
a    2
c    3
d    4
f    5
dtype: int64

In [35]:
print(ser)

a    1
a    2
c    3
d    4
f    5
dtype: int64

In [36]:
print(ser.index)

Index(['a', 'a', 'c', 'd', 'f'], dtype='object')

In [37]:
dic = {'T':185, 'H':162, 'B':171, 'R':155, 'M':191, 'S':166}
ser = pd.Series(dic)
print(ser)

T    185
H    162
B    171
R    155
M    191
S    166
dtype: int64

In [38]:
val = [1, 2, 3, 4, 5]
ser = pd.Series(val, index=list('あいうえお'))
ser

あ    1
い    2
う    3
え    4
お    5
dtype: int64

In [39]:
print(ser)

あ    1
い    2
う    3
え    4
お    5
dtype: int64

In [40]:
ser

あ    1
い    2
う    3
え    4
お    5
dtype: int64

In [41]:
ser['あ']

1

In [42]:
ser['あ':'え']

あ    1
い    2
う    3
え    4
dtype: int64

In [43]:
print(ser['あ'])

1

In [44]:
print(ser.iloc[0])

1

In [45]:
ser[ser > 3]

え    4
お    5
dtype: int64

In [46]:
ser + 2
ser

あ    1
い    2
う    3
え    4
お    5
dtype: int64

In [47]:
print(ser + 2)

あ    3
い    4
う    5
え    6
お    7
dtype: int64

In [48]:
print(ser)

あ    1
い    2
う    3
え    4
お    5
dtype: int64

In [49]:
mylist = [1, 2, 3, 4, 5]
mylist + [2]

[1, 2, 3, 4, 5, 2]

In [50]:
for i in range(5):
    mylist[i] += 2
    
print(mylist)

[3, 4, 5, 6, 7]

In [51]:
ser * 2

あ     2
い     4
う     6
え     8
お    10
dtype: int64

In [52]:
ser / 2

あ    0.5
い    1.0
う    1.5
え    2.0
お    2.5
dtype: float64

In [53]:
a = pd.Series(['a', 'b', 'c'])
b = pd.Series([1, 2, 3])
c = pd.Series([1.0, 2.0, 3.0])
d = pd.Series([True, False, True])
e = pd.Series(['a', 1, True])

print(a.dtype, b.dtype, c.dtype, d.dtype, e.dtype)

object int64 float64 bool object

In [54]:
a = pd.Series([1, 2, 3], index=[1, 2, 3])
print(a)

1    1
2    2
3    3
dtype: int64

In [55]:
print(type(a.values))

<class 'numpy.ndarray'>

In [56]:
print(a.values)

[1 2 3]

In [57]:
c = pd.Series(['a', 'a', 'b'], dtype='category')
print(c.values)

['a', 'a', 'b']
Categories (2, object): ['a', 'b']

In [58]:
val = ['a', 1, 0.5]
df = pd.DataFrame(val)

In [59]:
df

     0
0    a
1    1
2  0.5

In [60]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['c', 'd', 'e'])
print(df)

   c  d  e
a  1  2  3
b  4  5  6