In [1]:
import sys
import pandas
import numpy
import matplotlib
print('python version : ', sys.version_info[0:3])
print('pandas version : ', pandas.__version__)
print('numpy version : ', numpy.__version__)
print('matplotlib version : ', matplotlib.__version__)

python version :  (3, 8, 5)
pandas version :  1.1.3
numpy version :  1.19.2
matplotlib version :  3.3.2

In [2]:
#1.3 Pythonのデータ構造
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
var_1 = 12345
print(var_1)

var_2 = "機械学習"
print(var_2)

12345
機械学習

In [4]:
abc = 12345
ABC = 67890
a, b, c = 100, 0.5, "日本語"
print(abc)
print(ABC)
print(a, b, c)

12345
67890
100 0.5 日本語

In [5]:
a = 10
b = 2

print(a*b)
print(a/b)
print(a-b)
print(a%b)
print(a//b)
print(a**b)

20
5.0
8
0
5
100

In [6]:
a = 3.0
a += 2; print(a) # a = a + 2と同等
a -= 2; print(a) # a = a - 2と同等
a *= 2; print(a) # a = a * 2と同等
a **= 2; print(a) # a = a ** 2と同等
a /= 2; print(a) # a = a / 2と同等
a %= 4; print(a) # a = a % 4と同等

5.0
3.0
6.0
36.0
18.0
2.0

In [7]:
a = 5.0
b = 2.0

print(a > b)
print(a < b)
print(a == b)
print(a != b)

True
False
False
True

In [8]:
a = 1
print(type(a))
a = 'あ'
print(type(a))

<class 'int'>
<class 'str'>

In [9]:
a = 5
print(a, type(a))

b = 2.0
print(b, type(b))

c = 1
print(c, "は整数int型ですか？", isinstance(c, int))
print(c, "は浮動小数点float型ですか？", isinstance(c, float))

5 <class 'int'>
2.0 <class 'float'>
1 は整数int型ですか？ True
1 は浮動小数点float型ですか？ False

In [10]:
a = 'abcde'
a[0] = 'z'

TypeError: 'str' object does not support item assignment

In [11]:
a = (1, 2, 3)
b = 1, 2, 3

print(type(a), type(b))
print(a == b)

<class 'tuple'> <class 'tuple'>
True

In [12]:
a[0] = 4

TypeError: 'tuple' object does not support item assignment

In [13]:
a = (1, 2, '三', 4, 'Five')
b = '12345'
c = tuple(b)

print(type(a))
print(type(b))
print(type(c))
print(c)

<class 'tuple'>
<class 'str'>
<class 'tuple'>
('1', '2', '3', '4', '5')

In [14]:
nest = ((1, 2, 3), (4, 5, 6))
print(nest)
print(type(nest))

((1, 2, 3), (4, 5, 6))
<class 'tuple'>

In [15]:
a = (1, 2, 3, 4, 5)
print(a[0])
print(a[-1])
print(a[-2])

1
5
4

In [16]:
a

(1, 2, 3, 4, 5)

In [17]:
print(a[1:3])
print(a[:2])
print(a[1:])

(2, 3)
(1, 2)
(2, 3, 4, 5)

In [18]:
tup_1 = (1, 2, 3)
one, two, three = tup_1
print(one, two, three)

tup_2 = (4, 5, 6, (7, 8, 9))
one, two, three, four = tup_2
print(one, two, three, four)

1 2 3
4 5 6 (7, 8, 9)

In [19]:
a = ('あ', 'い', 'う', 'え', 'お')
print('「あ」がタプルに出現する回数：', a.count('あ'))
print('「い」がタプルで最初に出現するインデックス：', a.index('い'))

「あ」がタプルに出現する回数： 1
「い」がタプルで最初に出現するインデックス： 1

In [20]:
a = ['a', 'b', 'c', 1, 2]
b = ('a', 'b', 'c', 1, 2)
c = list(b)
print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'tuple'>
<class 'list'>

In [21]:
a = list('あいうえ')
print(a)
print(a[0])
print(a[2:])

['あ', 'い', 'う', 'え']
あ
['う', 'え']

In [22]:
a = [1, 2, 3, 4, 5]
a.append(6)
print(a)
a.extend([7, 8])
print(a)
b = [9,  10, 11]
print(a + b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [23]:
a = [1, 2, 3, 4, 5]
print(a)

del a[0]
print(a)

a.remove(2)
print(a)

b = a.pop(0)
print(b, a)

a.clear()
print(a)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]
3 [4, 5]
[]

In [24]:
a = {'あ':[1, 2, 3]}
b = {'い':[6, 7, 8, 9]}
c = {'い':[9, 10, 11, 12]}

a.update(b)
print(a)

a.update(c)
print(a)

{'あ': [1, 2, 3], 'い': [6, 7, 8, 9]}
{'あ': [1, 2, 3], 'い': [9, 10, 11, 12]}

In [25]:
a = {1, 2, 3, 4, 5}
b = [1, 2, 3, 4, 5]
c = set(b)

print(type(a))
print(type(b))
print(type(c))

<class 'set'>
<class 'list'>
<class 'set'>

In [26]:
a = {1, 2, 3, 'three', 'three',}
print(a)

{'three', 1, 2, 3}

In [27]:
a = {1, 2, 2, 3, 4, 5}
b = {6, 2, 3, 7, 8}

print(a.union(b))
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
print(a.intersection(b))
print(a & b)

{2, 3}
{2, 3}

In [29]:
#1.4 Pythonの基本操作
num = 5

if num > 0:
    print('条件がTrueであれば実行されるブロック')
    print(num, 'は正の整数です')
print('ブロック外（単独実行）')

条件がTrueであれば実行されるブロック
5 は正の整数です
ブロック外（単独実行）

In [1]:
num = -5

if num > 0:
    print('条件がTrueであれば実行されるブロック')
    print(num, 'は正の整数です')
    
print('ブロック外（単独実行）')

ブロック外（単独実行）

In [2]:
import random
num = random.randint(-10, 10)

if num > 0:
    print(num, 'は正の数です')
elif num < 0:
    print(num, 'は負の数です')

-5 は負の数です

In [3]:
import random
num = random.randint(-10, 10)

if num > 0:
    print(num, 'は正の数字')
elif num == 0:
    print(num, 'はゼロ')
else:
    print(num, 'は負の数字')

-10 は負の数字

In [4]:
n = 5
total = 0
i = 1

while i <= n:
    total = total + i
    print(i, '回目　合計：', total)
    i = i + 1

1 回目　合計： 1
2 回目　合計： 3
3 回目　合計： 6
4 回目　合計： 10
5 回目　合計： 15

In [6]:
count = 0
n = 10
while count < n:
    count += 1
    print(count, '回目のループ')
else:
    print('条件式がFalse')

1 回目のループ
2 回目のループ
3 回目のループ
4 回目のループ
5 回目のループ
6 回目のループ
7 回目のループ
8 回目のループ
9 回目のループ
10 回目のループ
条件式がFalse

In [7]:
nums = [1, 2, 3, 4, 5]
total = 0

for num in nums:
    print(num, '+', total)
    total = total + num
    
print(total)

1 + 0
2 + 1
3 + 3
4 + 6
5 + 10
15

In [8]:
letters = 'pandas'

for letter in letters:
    print(letter)

p
a
n
d
a
s

In [9]:
print(range(5))
print(type(range(5)))
print(list(range(5)))

range(0, 5)
<class 'range'>
[0, 1, 2, 3, 4]

In [11]:
pet = ['cat', 'dog', 'fish']
print('変数petの要素数：', len(pet))

for i in range(len(pet)):
    print('変数petのインデックス', i, '：', pet[i])

変数petの要素数： 3
変数petのインデックス 0 ： cat
変数petのインデックス 1 ： dog
変数petのインデックス 2 ： fish

In [12]:
nums = [1, 2, 3, 4, 5]
for num in nums:
    if num == 3:
        break
    print(num)

1
2

In [13]:
nums = [1, 2, 3, 4, 5]
for num in nums:
    if num == 3:
        continue
    print(num)

1
2
4
5

In [14]:
def multi(a, b):
    c = a * b
    print(c)

In [15]:
multi(3, 5)

15

In [16]:
def absolute(a):
    if a >= 0:
        return a
    else:
        return -1 * a
    
print(absolute(5))
print(absolute(-5))

5
5

In [17]:
def cal(a, b, name=5):
    return(a + b - name)

print(cal(2, 4))
print(cal(2, 4, name=10))

1
-4

In [18]:
var_1 = 12345
var_2 = '機械学習'

In [19]:
obj = 'codexa'
?obj

In [20]:
?range

In [21]:
n = 100000
%time sum(range(n))

CPU times: user 1.41 ms, sys: 157 µs, total: 1.57 ms
Wall time: 1.57 ms

4999950000

In [22]:
%%time
n = 100000
print(sum(range(n)))

4999950000
CPU times: user 1.8 ms, sys: 0 ns, total: 1.8 ms
Wall time: 1.8 ms

In [23]:
%timeit 100 * 100

9.87 ns ± 0.0142 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [24]:
%%timeit
99 * 99

9.92 ns ± 0.0444 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [25]:
%matplotlib inline

In [26]:
%whos

Variable   Type        Data/Info
--------------------------------
absolute   function    <function absolute at 0x7eff342e8268>
cal        function    <function cal at 0x7eff3432ed08>
count      int         10
i          int         2
letter     str         s
letters    str         pandas
multi      function    <function multi at 0x7eff3432ebf8>
n          int         100000
num        int         5
nums       list        n=5
obj        str         codexa
pet        list        n=3
random     module      <module 'random' from '/h<...>lib/python3.6/random.py'>
total      int         15
var_1      int         12345
var_2      str         機械学習

In [27]:
%whos str

Variable   Type    Data/Info
----------------------------
letter     str     s
letters    str     pandas
obj        str     codexa
var_2      str     機械学習