!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
height_list = [185, 162, 171, 155, 191, 166]
height_series = pd.Series(height_list)
print(height_series)

0    185
1    162
2    171
3    155
4    191
5    166
dtype: int64

In [4]:
weight_arr = np.array([72, 51, 69, 55, 87, 78])
weight_series = pd.Series(weight_arr)
print(weight_series)

0    72
1    51
2    69
3    55
4    87
5    78
dtype: int64

In [5]:
ser = pd.Series([1, 2, 3], name='some series')
print(ser)

0    1
1    2
2    3
Name: some series, dtype: int64

In [6]:
val = [1, 2, 3, 4, 5]
labels = ['a', 'a', 'c', 'd', 'f']
ser = pd.Series(val, index=labels)
print(ser)

a    1
a    2
c    3
d    4
f    5
dtype: int64

In [7]:
print(ser.index)

Index(['a', 'a', 'c', 'd', 'f'], dtype='object')

In [8]:
dic = {'T':185, 'H':162, 'B':171, 'R':155, 'M':191, 'S':166}
ser = pd.Series(dic)
print(ser)

B    171
H    162
M    191
R    155
S    166
T    185
dtype: int64

In [9]:
dic = {'a':0, 'b':1, 'c':2}
a = pd.Series(dic, index = ['a', 'b', 'c', 'd', 'e'])
print(a)

a    0.0
b    1.0
c    2.0
d    NaN
e    NaN
dtype: float64

In [10]:
pd.Series(10, index=['A', 'B', 'C'])

A    10
B    10
C    10
dtype: int64

In [11]:
val = [1, 2, 3, 4, 5]
ser = pd.Series(val, index=list('あいうえお'))
ser

あ    1
い    2
う    3
え    4
お    5
dtype: int64

In [12]:
ser['あ':'え']

あ    1
い    2
う    3
え    4
dtype: int64

In [13]:
print(ser['あ'])
print(ser.iloc[0])

1
1

In [14]:
ser[ser > 3]

え    4
お    5
dtype: int64

In [15]:
ser + 2

あ    3
い    4
う    5
え    6
お    7
dtype: int64

In [16]:
mylist = [1, 2, 3, 4, 5]
mylist + [2]

[1, 2, 3, 4, 5, 2]

In [17]:
for i in range(5):
    mylist[i] += 2
    
print(mylist)

[3, 4, 5, 6, 7]

In [18]:
ser * 2

あ     2
い     4
う     6
え     8
お    10
dtype: int64

In [19]:
ser / 2

あ    0.5
い    1.0
う    1.5
え    2.0
お    2.5
dtype: float64

In [20]:
ser2 = pd.Series([6, 7, 8, 9, 10], index=list('あいうえお'))
ser3 = ser + ser2
print(ser3)

あ     7
い     9
う    11
え    13
お    15
dtype: int64

In [21]:
val = [1, 2, 3, 4, 5]
a = pd.Series(val)
b = pd.Series(val, index=[0, 1, 2, 3, 4])
c = pd.Series(val, index=list('abcde'))
print(a.index)
print(b.index)
print(c.index)

RangeIndex(start=0, stop=5, step=1)
Int64Index([0, 1, 2, 3, 4], dtype='int64')
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [22]:
a = pd.Series(['a', 'b', 'c'])
b = pd.Series([1, 2, 3])
c = pd.Series([1.0, 2.0, 3.0])
d = pd.Series([True, False, True])
e = pd.Series(['a', 1, True])

print(a.dtype, b.dtype, c.dtype, d.dtype, e.dtype)

object int64 float64 bool object

In [23]:
a = pd.Series([1, 2, 3], index=[1, 2, 3])
a

1    1
2    2
3    3
dtype: int64

In [24]:
b = pd.Series([1, 2, 3], index=list('abc'))
b

a    1
b    2
c    3
dtype: int64

In [25]:
print(a.loc[1])
print(b.loc['a'])

1
1

In [26]:
print(a.iloc[0])
print(b.iloc[0])

1
1

In [27]:
a.iloc[0:1]

1    1
dtype: int64

In [28]:
b.loc['a':'b']

a    1
b    2
dtype: int64

In [29]:
ser = pd.Series([1, 1, 3, 4, 'a'])
print(ser.size)

5

In [30]:
a = pd.Series([1, 2, 3])
b = pd.Series([1, 1, 3])
print(a.is_unique)
print(b.is_unique)

True
False

In [31]:
a = pd.Series([1, 2, 3])
b = pd.Series(['a', 'b', 'c'])
c = pd.Series(['a', 'a', 'b'], dtype='category')

print(type(a.values), a.values)
print(type(b.values), b.values)
print(type(c.values), c.values)

<class 'numpy.ndarray'> [1 2 3]
<class 'numpy.ndarray'> ['a' 'b' 'c']
<class 'pandas.core.categorical.Categorical'> [a, a, b]
Categories (2, object): [a, b]

In [32]:
ser = pd.Series([1, 2, 3, 4, 5], index=list('abcde'))
print(ser)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [33]:
ser['a'] = 6
ser['b':'d'] = 7
print(ser)

a    6
b    7
c    7
d    7
e    5
dtype: int64

In [34]:
ser['あ'] = 4
print(ser)

a    6
b    7
c    7
d    7
e    5
あ    4
dtype: int64

In [35]:
ser2 = pd.Series([5, 6], index=['い', 'う'])
ser.append(ser2)

a    6
b    7
c    7
d    7
e    5
あ    4
い    5
う    6
dtype: int64

In [36]:
ser.append(ser2, ignore_index=True)

0    6
1    7
2    7
3    7
4    5
5    4
6    5
7    6
dtype: int64

In [37]:
ser = pd.Series([1, 2, 3], index=list('abc'))
del ser['a']
ser

b    2
c    3
dtype: int64

In [38]:
ser.drop(index='b', inplace=True)
print(ser)

c    3
dtype: int64

In [39]:
ser = pd.Series([1, 1, 2, 2, 2, 3], index=list('abcdef'))
ser

a    1
b    1
c    2
d    2
e    2
f    3
dtype: int64

In [40]:
ser.drop_duplicates(keep='first')

a    1
c    2
f    3
dtype: int64

In [41]:
ser.drop_duplicates(keep=False)

f    3
dtype: int64

In [42]:
ser = pd.Series([1, np.nan, 3, 4, np.nan],
                index=list('abcde'))
print(ser)

a    1.0
b    NaN
c    3.0
d    4.0
e    NaN
dtype: float64

2.2 データフレーム

In [43]:
val = ['a', 1, 0.5]
df = pd.DataFrame(val)
df

     0
0    a
1    1
2  0.5

In [44]:
val = [[1, 2, 3], [4, 5, 6]]
df = pd.DataFrame(val, index=['a', 'b'],
                 columns=['c', 'd', 'e'])
df

   c  d  e
a  1  2  3
b  4  5  6

In [45]:
val = [[1, 2, 3], [4, 5]]
df = pd.DataFrame(val)
df

   0  1    2
0  1  2  3.0
1  4  5  NaN

In [46]:
dictionary = {'a':[1, 2, 3], 'b':[4, 5, 6]}
df = pd.DataFrame(dictionary)
df

   a  b
0  1  4
1  2  5
2  3  6

In [47]:
age = pd.Series([10, 12, 9], index=['A', 'B', 'C'])
sex = pd.Series(['M', 'F', 'F'], index=['C', 'A', 'D'])
df = pd.DataFrame({'age':age, 'sex':sex})
df

    age  sex
A  10.0    F
B  12.0  NaN
C   9.0    M
D   NaN    F

In [48]:
nest_dict = {
    'age':{'A':10, 'B':12, 'C':9},
    'sex':{'C':'M', 'A':'F', 'D':'F'}
}

df = pd.DataFrame(nest_dict)
df

    age  sex
A  10.0    F
B  12.0  NaN
C   9.0    M
D   NaN    F

In [49]:
val = [[1, 2], [4, 5]]
df1 = pd.DataFrame(val, columns=['A', 'B'], dtype=None)
print(df1.dtypes)

A    int64
B    int64
dtype: object

In [50]:
df2 = pd.DataFrame(val, columns=['A', 'B'], dtype=np.float64)
print(df2.dtypes)

A    float64
B    float64
dtype: object

In [51]:
df = pd.DataFrame({
    'math':[82, 93, 77],
    'eng':[77, 87, 71],
    'chem':[69, 91, 89]
})

df

   chem  eng  math
0    69   77    82
1    91   87    93
2    89   71    77

In [52]:
df['math']

0    82
1    93
2    77
Name: math, dtype: int64

In [53]:
print(type(df['math']))

<class 'pandas.core.series.Series'>

In [54]:
df[['math', 'eng']]

   math  eng
0    82   77
1    93   87
2    77   71

In [55]:
print(type(df[['math', 'eng']]))

<class 'pandas.core.frame.DataFrame'>

In [56]:
df[df['math'] > 80]

   chem  eng  math
0    69   77    82
1    91   87    93

In [58]:
val = [[1, 2, 3], [4, 5, 6]]
df = pd.DataFrame(val)
print(df.index)
df

RangeIndex(start=0, stop=2, step=1)

   0  1  2
0  1  2  3
1  4  5  6

In [59]:
df.index = ['a', 'b']
print(df.index)
df

Index(['a', 'b'], dtype='object')

   0  1  2
a  1  2  3
b  4  5  6

In [60]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [61]:
df.columns = ['c', 'd', 'e']
df.columns

Index(['c', 'd', 'e'], dtype='object')

In [62]:
df.loc['a', :]

c    1
d    2
e    3
Name: a, dtype: int64

In [63]:
df.loc['b', 'e']

6

In [64]:
df.iloc[0, :]

c    1
d    2
e    3
Name: a, dtype: int64

In [65]:
df.iloc[1, 2]

6

In [66]:
df.shape

(2, 3)

In [67]:
df.size

6

In [68]:
df = pd.DataFrame([[1.0, np.nan], [2.0, np.nan], [np.nan, 3.0]])
print(df.shape)
print(df.size)

(3, 2)
6

In [39]:
print(type(a.values))

<class 'numpy.ndarray'>

In [40]:
print(a.values)

[1 2 3]

In [41]:
c = pd.Series(['a', 'a', 'b'], dtype='category')
print(c.values)

[a, a, b]
Categories (2, object): [a, b]

In [42]:
val = ['a', 1, 0.5]
df = pd.DataFrame(val)

In [43]:
df

     0
0    a
1    1
2  0.5

In [44]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['c', 'd', 'e'])
print(df)

   c  d  e
a  1  2  3
b  4  5  6